---
layout: default
title: Projects
permalink: /projects
---

<ul>
<section class="tiles" style="text-align: center;">
    {% for my_page in site.posts %}
    {% if my_page.path contains 'projects'  %}
    <article class="{{ my_page.style }}">
		<span class="image">
			<img data-src="{{ my_page.img_path }}" alt="" loading = 'lazy' class="lazyload"/>
		</span>
		<a href='{{ my_page.url }}'>
			<h2>{{ my_page.intro }}</h2>
			<div class="content">
				<p>{{ my_page.subintro }}</p>
			</div>
		</a>
	</article>
    <!-- <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li> -->
    {% endif %}
    {% endfor %}
</section>
</ul>

<script>
    var ll = $('div');
var lh = []
var wscroll = 0;
var wh = $(window).height();

function update_offsets(){
  $('div').each(function(){
    var x = $(this).offset().top;
    lh.push(x);
  });
};

function lazy() {
  wscroll = $(window).scrollTop();
  for(i = 0; i < lh.length; i++){
    if(lh[i] <= wscroll + (wh - 200)){
      $('div').eq(i).addClass('loaded');
    };
  };
};

// Page Load
update_offsets();
lazy();

$(window).on('scroll',function(){
  lazy();
});
(async () => {
    if ('loading' in HTMLImageElement.prototype) {
        const images = document.querySelectorAll("img.lazyload");
        images.forEach(img => {
            img.src = img.dataset.src;
        });
    } else {
        // Dynamically import the LazySizes library
        const lazySizesLib = await import('/lazysizes.min.js');
        // Initiate LazySizes (reads data-src & class=lazyload)
        lazySizes.init(); // lazySizes works off a global.
    }
})();
</script>